body {
  background-color: wheat;
}

#list .items {
  border-top: 10px solid green;
  background-color: white;
  padding: 1rem;
  text-overflow: ellipsis;
  overflow: hidden;
  position:relative;
}

#list .active {
  text-decoration: line-through;
  opacity: 0.5;
  border-color: black;
}

#list .active::after{
  content:'';
  position:absolute;
  width:40px;
  height:40px;
  background-color: crimson;
  border-radius:50%;
  top:50%;
  right:1rem;
  transform: translateY(-50%);
}

#list .items:hover {
  border-color: crimson;
  opacity: 1;
}

#content {
  display: none;
}
